/* Navigation Bar General */
nav {
  background: #0B0C10;
  background-image: url("https://www.transparenttextures.com/patterns/navy.png");  height: 120px;
  opacity: 0.8;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  z-index: 1;
}

/* TWEETER Icon */
#logo {
  color: #66FCF1;
  font-family: "Bungee", cursive;
  font-size: 150%;
}

.nav-left {
  display: flex;
  align-items: flex-end;
}

.nav-right {
  color: #45A29E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* fas fa-angle-double-down Icon */
i {
  color: #66FCF1;
}