nav {
  background: #4056A1;
  height: 120px;
  padding: 1.5em;
}

nav ul {
  list-style: none;
}

#logo {
  font-family: "Bungee", cursive;
  font-size: 150%;
  color: #FFFF;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav i {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: red;
}