/* Navigation Bar General */
nav {
  background: #0B0C10;
  background-image: url("https://www.transparenttextures.com/patterns/navy.png");  height: 120px;
  opacity: 0.8;
  padding: 1.5em;
  position: fixed;
  top: 0;
  width: 100%;
  display:flex;
  justify-content: space-between;
  z-index: 1;
}

/* TWEETER Icon */
#logo {
  color: #66FCF1;
  font-family: 'Bungee';
  font-size: 150%;
}

.nav-left {
  display: flex;
  align-items: flex-end;
}

.nav-right {
  color: #45A29E;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* nav button */
nav button {
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  margin-bottom: 15px;
  color: #66FCF1;
  cursor: pointer;
}

/* nav button - hover */
nav button:hover {
  color: #b5f7f7;
}

/* nav button - before */
nav button:before {
  content: '';
  display: block;
  height: 5px;
  background-color:#45A29E;
  position: sticky;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

/* nav button - hover before */
nav button:hover::before {
  width: 100%;
}

/* fas fa-angle-double-down Icon */
i {
  color: #66FCF1;
}