/* General New-Tweet class */
.new-tweet {
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  color: #66FCF1;
  width: 70%;
  padding: 15px;
}

/* condition for new-tweet show/hide status */
.hidden-tweet {
  display: none;
}

/* new-tweet - Title area */
.new-tweet h2 {
  border-bottom:2px solid #45A29E;
  font-family: 'Bungee';
}

/* new-tweet - bubble icon */
.new-tweet i {
  color: #FFCB9A;
}

/* new tweet text-box entry area */
#text-box {
  width: 100%;
  height: 165px;
  padding: 15px;
  background-color: #b5f7f7;
  resize: none;
}

/* new-tweet text-box entry area hover */
#text-box:hover {
  box-shadow: 3px 3px #45A29E;
}

/* new-tweet submit button and Counter */
.text-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px; 
}

/* new-tweet submit button - specific */
main button {
  font-weight: bold;
  background-color: #FFCB9A;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-family: 'Bungee';
}

/* tweet submit button - hover */
main button:hover {
  box-shadow: 1px 1px #b5f7f7;
  background-color: #b5f7f7;
}

/* character-counter styling */
#counter {
  font-family: 'Bungee';
}

/* alert-message for Alerts */
.alert-message {
  color: rgb(184, 66, 66);
}

/* alert-message icon */
.alert-message i {
  color: #b5f7f7;
}