main {
  font-family: "Bungee";
  margin-top: 5em;
}

/* General New-Tweet class */
.new-tweet {
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
  color: #66FCF1;
  min-width: 320px;
}

.hidden-tweet {
  display: none;
}

nav button {
  background-color: transparent;
  background-repeat: no-repeat;
  outline: none;
  border: none;
  margin-bottom: 15px;
  color: #66FCF1;
  cursor: pointer;
}

nav button:hover {
  color: #b5f7f7;
}

nav button:before {
  content: '';
  display: block;
  height: 5px;
  background-color:#45A29E;
  position: sticky;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav button:hover::before {
  width: 100%;
}

/* New Tweet - Title area */
.new-tweet h2 {
  border-bottom:2px solid #45A29E;
}

/* Tweet text entry area */
#text-box {
  width: 100%;
  height: 165px;
  padding: 15px;
  background-color: #b5f7f7;
  resize: none;
}

/* Tweet text entry area hover effect */
#text-box:hover {
  box-shadow: 3px 3px #45A29E
}

/* Tweet submit button and Counter */
.text-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 10px; 
}

/* Tweet submit button - specific */
main button {
  font-weight: bold;
  background-color: #45A29E;
  border-radius: 8px;
  padding: 8px;
  margin-top: 10px;
}

/* Tweet submit button - hover effect */
main button:hover {
  box-shadow: 1px 1px #b5f7f7
}

/* Message Alert for Alerts */
.alert-message {
  color: rgb(184, 66, 66);
}