.other-tweets {
  height: 165px;
  padding: 15px;
  border: 3px solid #45A29E;
  margin-top: 80px;
}

.other-tweet {
  display: flex;
  flex-direction: column;
  position: relative;
}

.other-tweet header {
  display: block;
  padding: 0.5em 0;
}

.tweeter-handle {
  display: inline-block;
  margin: 0 0.5rem;
  position: absolute; right: 0.5rem;
}

.user-name {
  display: inline-block;
  margin: 0 0.5rem;
}

.other-tweet-body {
  display: block;
  padding: 0.5em 0;
  border-bottom:1px solid #45A29E;
}

.other-tweet-footer {
  display: block;
}

.message-icon {
  display: inline-block;
  margin: 0 0.5rem;
  position: absolute; right: 0.5rem;
}

.other-tweets:hover {
  box-shadow: 3px 3px #45A29E
}

#icon-flag:hover {
  color: white;
}

#icon-retweet:hover {
  color: white;
}

#icon-heart:hover {
  color: rgb(248, 160, 175);
}